*{
    margin: 0;
    padding: 0;
    box-sizing: size;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.container-topo{
    width: 1024px;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo img{
    width: 80px;
    height:80px;
    margin-right: 15px;
}
.texto_logo h1{
    font-size: 32px;
    color: #000000;
}
.texto_logo p{
    color:#2f86d6;
    font-weight: bold;
    font-size: 16px;
}
.menu ul{
    display: flex;
}
.menu li{
 margin: 10px;
 list-style: none;
 font-weight: bold;
 
}
.menu a{
    text-decoration: none;
    color: #233032;
}
.banner{
    background-color: #2f86d6;
    padding: 180px 0px;
}
.container_banner{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 1024px;
}
.container_banner_texto{
    width: 470px;
    
}
.container_banner_img {
    width: 50%;
}
.banner p{
    font-size: 16px;
    color: #fff;
}
.banner h2{
    font-size: 28px;
    color: #fff;
    margin: 20px 0px;
}
.primeiro_anuncio{
    padding: 40px 0px;
    background-color: #233032;

}
.container_primeiro_anuncio{
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.container_primeiro_anuncio_texto{
    width: 600px;
    color: #fff;
}
.container_primeiro_anuncio_texto h3{
    font-size: 24px;
}
.container_primeiro_anuncio_texto p{
    font-size: 16px;
}
.container_primeiro_anuncio_link{
    background-color: #2f86d6;
    width: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    
}
.container_primeiro_anuncio_link img{
    margin-right: 10px;
    
}   
.container_primeiro_anuncio_link a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
} 
.informacoes{
    
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_informacoes{
    background-color:  #fff;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacoes_titulo{
    width: 700px;
    text-align: center;
    margin-bottom: 50px;
}
.informacoes_titulo span{
    color: #2f86d6;
}
.container_informacao_card{
    width: 1024px;
    display: flex;
    justify-content: space-around;
}
.card_informacao{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_informacao img{
    width: 150px;
    height: 150px;
}
.card_informacao h3{
     margin: 20px 0px;
}
.card_informacao p{
    text-align: center;
}
.planos{
    background-color: #f6f6f6;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planos h2{
    margin-bottom: 70px;
    font-size: 32px;
}
.planos span{
    color: #2f86d6;
}
table{
    
    width: 1024px;
    display: flex;
    box-shadow: 0px 0px 50px 15px rgba(47, 134, 214, 2);
}
table img{
    width: 100px;
    height: 100px;
}
table tr{
    
    height: 50px;  */ 
}
table th h3{
    margin: 20px;
}
table th p{
   
    width: 140px;
    font-weight: normal;
    font-size: 13px;
    color: #a89f9f;
    margin: 15px 50px;
    font-weight: bold;
    
}   
table td{
    
    width: 1024px;
    text-align: center;
    
}
table tr:nth-of-type(even){
   background-color: #f0ecec;
}
table tr:nth-of-type(odd){
    
   background-color: #F1F3F7
}
.segundo_anuncio{
    background-color: #2f86d6;
    padding: 40px 0px;
}
.container_segundo_anuncio{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.container_segundo_anuncio_texto h3{
   width: 600px;
   font-size: 24px; 
   color: #fff;
}
.container_segundo_anuncio_link{
    background-color: #233032;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-radius: 5px;
} 
.container_segundo_anuncio a{
    
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
   
    
}
.container_segundo_anuncio img{
 margin-right: 10px;
 width: 20px;
 height: 20px;
     

}
container_rodape{
    display: flex;
}
.container_rodape_01{
    width: 320px;
    margin: auto;
    display: flex;
    padding: 50px 0;
    
}
.container_rodape_01 img{
    width:80px;
    height:80px;
    margin-right: 20px;
}
.container_rodape_01 p{
    color: #2f86d6;
    font-weight: bold;
}
.container_rodape_02{
   text-align: center;
   padding-bottom: 30px;
   font-weight: bold;
}
.container_rodape_02 p{

     padding: 10px;

}
.container_rodape_03{
    background-color: #f0ecec;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.container_rodape_03 span{
    color: #2f86d6;
}    

