*{
    margin: 0;
    padding: 0;
    box-sizing: size;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.container-topo{
    width: 1024px;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo img{
    width: 80px;
    height:80px;
    margin-right: 15px;
}
.texto_logo h1{
    font-size: 32px;
    color: #000000;
}
.texto_logo p{
    color:#2f86d6;
    font-weight: bold;
    font-size: 16px;
}
.menu ul{
    display: flex;
}
.menu li{
 margin: 10px;
 list-style: none;
 font-weight: bold;
 
}
.menu a{
    text-decoration: none;
    color: #233032;
}
.banner{
    background-color: #2f86d6;
    padding: 180px 0px;
}
.container_banner{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 1024px;
}
.container_banner_texto{
    width: 470px;
    
}
.container_banner_img {
    width: 50%;
}
.banner p{
    font-size: 16px;
    color: #fff;
}
.banner h2{
    font-size: 28px;
    color: #fff;
    margin: 20px 0px;
}
.primeiro_anuncio{
    padding: 40px 0px;
    background-color: #233032;

}
.container_primeiro_anuncio{
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container_primeiro_anuncio_texto{
    width: 600px;
    color: #fff;
}
.container_primeiro_anuncio_texto h3{
    font-size: 24px;
}
.container_primeiro_anuncio_texto p{
    font-size: 16px;
}
.container_primeiro_anuncio_link{
    background-color: #2f86d6;
    width: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.container_primeiro_anuncio_link img{
    margin-right: 10px;
    
}   
.container_primeiro_anuncio_link a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
} 
.informacoes{
    background-color: antiquewhite;
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.container_informacoes{
    background-color:  #fff;
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacoes_titulo{
    

}
.informacoes_img{
    display: flex;
    justify-content: space-between;
}
.informacoes_img img {
    width: 150px;
    height: 150px;
}   
.informacoes_titulo_img{
    display: flex;
}
.informacoes_descricao_img{
    display: flex;

}
